<div class="flex mb-0 p-0 m-0 border truncate">
  <div class="w-1/12 bg-gray-100 h-7 pl-2" data-bs-toggle="tooltip" title="<%= message['status_info'] %>">
    <%= message['status'] %>
  </div>
  <div class="w-1/12 bg-gray-100 h-7 pl-2">
    <%= message['adapter'].constantize.new.adapter_name.capitalize if message['adapter'] %>
  </div>
  <div class="w-2/12 bg-gray-100 h-7 pl-2"><%= message['phone'] %></div>
  <div class="w-8/12 bg-gray-100 h-7 pl-2"><%= message['body'] %></div>
</div>
